.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chatCon {
  width: 40%;
  height: 500px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatFooter {
  position: relative;
}
.mainCon {
  display: flex;
  justify-content: center;
}

#you {
  margin-top: 15px;
  border-top-left-radius: 20px;
  background-color: seagreen;
  color: white;
  padding: 10px;
  width: 50%;
}
#other {
  margin-top: 15px;
  border-top-left-radius: 20px;
  background-color: gray;
  padding: 10px;
  width: 50%;
  color: white;
  align-self: flex-end;
}
.chatBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
#you .time {
  float: right;
}
#other .time {
  float: right;
}
